{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="white-box login-screen text-center">
        <p style="font-size: 2vw"><i class="fa fa-pencil-square-o"></i> Edit profile</p>
    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

        {{ form_label((form.username))}}
        {{ form_widget(form.username, { 'attr': {'class': 'form-control form-input', 'placeholder': 'form.username'} }) }}
        {{ form_errors(form.username) }}

        {{ form_label((form.email))}}
        {{ form_widget(form.email, { 'attr': {'class': 'form-control form-input', 'placeholder': 'form.email' } }) }}
        {{ form_errors(form.email) }}

        {{ form_label((form.current_password))}}
        {{ form_widget(form.current_password,{ 'attr': {'class': 'form-control form-input'} }) }}
        {{ form_errors(form.current_password) }}
    <div>
        <input class="btn btn-success btn-block" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}