<!DOCTYPE html>
<html>

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Luxus Hotel{% endblock %}</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
      <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
      <script src="https://use.fontawesome.com/de14436d52.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8/datatables.min.css"/>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jqc-1.11.3,dt-1.10.8/datatables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
      {% block stylesheets %}
      {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

  </head>

  <body class="background" background="{{ asset('background.jpg') }}">
  <!-- Navigation -->
     <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <img src="{{ asset('logo.png') }}" class="navbar-brand">
    </div>
    <ul class="nav navbar-nav">
      <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}"><i class="glyphicon glyphicon-home"></i> Home</a></li>
      <li class="{% if app.request.attributes.get('_route') == 'about' %}active{% endif %}"><a href="{{ path('about') }}"><i class="glyphicon glyphicon-info-sign"></i> About us</a></li>
      <li class="{% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}"><i class="glyphicon glyphicon-envelope"></i> Contact</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            {#<li class="{% if app.request.attributes.get('_route') == 'statistics' %}active{% endif %}"><a href="{{ path('statistics') }}"><i class="fa fa-line-chart"></i> Statistics</a></li>#}
            <li class="{% if app.request.attributes.get('_route') == 'reservations' %}active{% endif %}"><a href="{{ path('reservations') }}"><i class="fa fa-calendar"></i> Reservations</a></li>

        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if is_granted('ROLE_USER') %}
          <li class="text-white" style="padding:15px;">Hello {{ app.user.username }}!</li>
          <li class="{% if app.request.attributes.get('_route') == 'fos_user_profile_show' %}active{% endif %}"><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Profile</a></li>
          <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-log-out"></i> Log out</a></li>
      {% else %}
          <li class="{% if app.request.attributes.get('_route') == 'fos_user_registration_register' %}active{% endif %}"><a href="{{ path('fos_user_registration_register') }}"><i class="glyphicon glyphicon-user"></i> Sign Up</a></li>
          <li class="{% if app.request.attributes.get('_route') == 'fos_user_security_login' %}active{% endif %}"><a href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-log-in"></i> Log in</a></li>
      {% endif %}
    </ul>
  </div>
</nav>


    <div class="container">
        {% for flash_message in app.session.flashbag.get('notice') %}
            <div class="alert alert-success">{{ flash_message }}</div>
        {% endfor %}

        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger">{{ flash_message }}</div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>

    {% block javascripts %}{% endblock %}
  </body>

</html>

